@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@1,700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: rgb(84 101 36);
    --surface-tint: rgb(84 101 36);
    --on-primary: rgb(255 255 255);
    --primary-container: rgb(215 235 155);
    --on-primary-container: rgb(61 76 13);
    --secondary: rgb(91 97 71);
    --on-secondary: rgb(255 255 255);
    --secondary-container: rgb(224 230 196);
    --on-secondary-container: rgb(67 73 48);
    --tertiary: rgb(58 102 94);
    --on-tertiary: rgb(255 255 255);
    --tertiary-container: rgb(188 236 226);
    --on-tertiary-container: rgb(32 78 71);
    --error: rgb(186 26 26);
    --on-error: rgb(255 255 255);
    --error-container: rgb(255 218 214);
    --on-error-container: rgb(147 0 10);
    --background: rgb(251 250 238);
    --on-background: rgb(27 28 21);
    --surface: rgb(251 250 238);
    --on-surface: rgb(27 28 21);
    --surface-variant: rgb(227 228 211);
    --on-surface-variant: rgb(70 72 60);
    --outline: rgb(118 120 107);
    --outline-variant: rgb(198 200 184);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(48 49 41);
    --inverse-on-surface: rgb(242 241 229);
    --inverse-primary: rgb(187 207 129);
    --primary-fixed: rgb(215 235 155);
    --on-primary-fixed: rgb(22 31 0);
    --primary-fixed-dim: rgb(187 207 129);
    --on-primary-fixed-variant: rgb(61 76 13);
    --secondary-fixed: rgb(224 230 196);
    --on-secondary-fixed: rgb(24 30 9);
    --secondary-fixed-dim: rgb(195 202 169);
    --on-secondary-fixed-variant: rgb(67 73 48);
    --tertiary-fixed: rgb(188 236 226);
    --on-tertiary-fixed: rgb(0 32 28);
    --tertiary-fixed-dim: rgb(161 208 198);
    --on-tertiary-fixed-variant: rgb(32 78 71);
    --surface-dim: rgb(219 219 207);
    --surface-bright: rgb(251 250 238);
    --surface-container-lowest: rgb(255 255 255);
    --surface-container-low: rgb(245 244 232);
    --surface-container: rgb(239 238 226);
    --surface-container-high: rgb(233 233 221);
    --surface-container-highest: rgb(227 227 215);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary: rgb(187 207 129);
      --surface-tint: rgb(187 207 129);
      --on-primary: rgb(40 53 0);
      --primary-container: rgb(61 76 13);
      --on-primary-container: rgb(215 235 155);
      --secondary: rgb(195 202 169);
      --on-secondary: rgb(45 51 28);
      --secondary-container: rgb(67 73 48);
      --on-secondary-container: rgb(224 230 196);
      --tertiary: rgb(161 208 198);
      --on-tertiary: rgb(3 55 49);
      --tertiary-container: rgb(32 78 71);
      --on-tertiary-container: rgb(188 236 226);
      --error: rgb(255 180 171);
      --on-error: rgb(105 0 5);
      --error-container: rgb(147 0 10);
      --on-error-container: rgb(255 218 214);
      --background: rgb(19 20 13);
      --on-background: rgb(227 227 215);
      --surface: rgb(19 20 13);
      --on-surface: rgb(227 227 215);
      --surface-variant: rgb(70 72 60);
      --on-surface-variant: rgb(198 200 184);
      --outline: rgb(144 146 132);
      --outline-variant: rgb(70 72 60);
      --shadow: rgb(0 0 0);
      --scrim: rgb(0 0 0);
      --inverse-surface: rgb(227 227 215);
      --inverse-on-surface: rgb(48 49 41);
      --inverse-primary: rgb(84 101 36);
      --primary-fixed: rgb(215 235 155);
      --on-primary-fixed: rgb(22 31 0);
      --primary-fixed-dim: rgb(187 207 129);
      --on-primary-fixed-variant: rgb(61 76 13);
      --secondary-fixed: rgb(224 230 196);
      --on-secondary-fixed: rgb(24 30 9);
      --secondary-fixed-dim: rgb(195 202 169);
      --on-secondary-fixed-variant: rgb(67 73 48);
      --tertiary-fixed: rgb(188 236 226);
      --on-tertiary-fixed: rgb(0 32 28);
      --tertiary-fixed-dim: rgb(161 208 198);
      --on-tertiary-fixed-variant: rgb(32 78 71);
      --surface-dim: rgb(19 20 13);
      --surface-bright: rgb(57 58 50);
      --surface-container-lowest: rgb(13 15 8);
      --surface-container-low: rgb(27 28 21);
      --surface-container: rgb(31 32 25);
      --surface-container-high: rgb(41 43 35);
      --surface-container-highest: rgb(52 53 45);
    }
  }
}

body {
  font-family: "Work Sans", "Noto Sans", sans-serif;
  font-display: swap;
}

.font-body {
  font-family: "Work Sans", "Noto Sans", sans-serif;
}

.font-display {
  font-family: "Lora", serif;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

/* Light theme definitions */
/* .light {
  --md-sys-color-primary: rgb(84 101 36);
  --md-sys-color-surface-tint: rgb(84 101 36);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(215 235 155);
  --md-sys-color-on-primary-container: rgb(61 76 13);
  --md-sys-color-secondary: rgb(91 97 71);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(224 230 196);
  --md-sys-color-on-secondary-container: rgb(67 73 48);
  --md-sys-color-tertiary: rgb(58 102 94);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(188 236 226);
  --md-sys-color-on-tertiary-container: rgb(32 78 71);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(251 250 238);
  --md-sys-color-on-background: rgb(27 28 21);
  --md-sys-color-surface: rgb(251 250 238);
  --md-sys-color-on-surface: rgb(27 28 21);
  --md-sys-color-surface-variant: rgb(227 228 211);
  --md-sys-color-on-surface-variant: rgb(70 72 60);
  --md-sys-color-outline: rgb(118 120 107);
  --md-sys-color-outline-variant: rgb(198 200 184);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 49 41);
  --md-sys-color-inverse-on-surface: rgb(242 241 229);
  --md-sys-color-inverse-primary: rgb(187 207 129);
  --md-sys-color-primary-fixed: rgb(215 235 155);
  --md-sys-color-on-primary-fixed: rgb(22 31 0);
  --md-sys-color-primary-fixed-dim: rgb(187 207 129);
  --md-sys-color-on-primary-fixed-variant: rgb(61 76 13);
  --md-sys-color-secondary-fixed: rgb(224 230 196);
  --md-sys-color-on-secondary-fixed: rgb(24 30 9);
  --md-sys-color-secondary-fixed-dim: rgb(195 202 169);
  --md-sys-color-on-secondary-fixed-variant: rgb(67 73 48);
  --md-sys-color-tertiary-fixed: rgb(188 236 226);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 28);
  --md-sys-color-tertiary-fixed-dim: rgb(161 208 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(32 78 71);
  --md-sys-color-surface-dim: rgb(219 219 207);
  --md-sys-color-surface-bright: rgb(251 250 238);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 244 232);
  --md-sys-color-surface-container: rgb(239 238 226);
  --md-sys-color-surface-container-high: rgb(233 233 221);
  --md-sys-color-surface-container-highest: rgb(227 227 215);
} */

/* Dark theme definitions */
/* .dark {
  --md-sys-color-primary: rgb(187 207 129);
  --md-sys-color-surface-tint: rgb(187 207 129);
  --md-sys-color-on-primary: rgb(40 53 0);
  --md-sys-color-primary-container: rgb(61 76 13);
  --md-sys-color-on-primary-container: rgb(215 235 155);
  --md-sys-color-secondary: rgb(195 202 169);
  --md-sys-color-on-secondary: rgb(45 51 28);
  --md-sys-color-secondary-container: rgb(67 73 48);
  --md-sys-color-on-secondary-container: rgb(224 230 196);
  --md-sys-color-tertiary: rgb(161 208 198);
  --md-sys-color-on-tertiary: rgb(3 55 49);
  --md-sys-color-tertiary-container: rgb(32 78 71);
  --md-sys-color-on-tertiary-container: rgb(188 236 226);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 20 13);
  --md-sys-color-on-background: rgb(227 227 215);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(227 227 215);
  --md-sys-color-surface-variant: rgb(70 72 60);
  --md-sys-color-on-surface-variant: rgb(198 200 184);
  --md-sys-color-outline: rgb(144 146 132);
  --md-sys-color-outline-variant: rgb(70 72 60);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 227 215);
  --md-sys-color-inverse-on-surface: rgb(48 49 41);
  --md-sys-color-inverse-primary: rgb(84 101 36);
  --md-sys-color-primary-fixed: rgb(215 235 155);
  --md-sys-color-on-primary-fixed: rgb(22 31 0);
  --md-sys-color-primary-fixed-dim: rgb(187 207 129);
  --md-sys-color-on-primary-fixed-variant: rgb(61 76 13);
  --md-sys-color-secondary-fixed: rgb(224 230 196);
  --md-sys-color-on-secondary-fixed: rgb(24 30 9);
  --md-sys-color-secondary-fixed-dim: rgb(195 202 169);
  --md-sys-color-on-secondary-fixed-variant: rgb(67 73 48);
  --md-sys-color-tertiary-fixed: rgb(188 236 226);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 28);
  --md-sys-color-tertiary-fixed-dim: rgb(161 208 198);
  --md-sys-color-on-tertiary-fixed-variant: rgb(32 78 71);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(57 58 50);
  --md-sys-color-surface-container-lowest: rgb(13 15 8);
  --md-sys-color-surface-container-low: rgb(27 28 21);
  --md-sys-color-surface-container: rgb(31 32 25);
  --md-sys-color-surface-container-high: rgb(41 43 35);
  --md-sys-color-surface-container-highest: rgb(52 53 45);
} */
