name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: db_password
          POSTGRES_DB: mom_recipes
        
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    defaults:
      run:
        working-directory: ./backend

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js 24.x
      uses: actions/setup-node@v5
      with:
        node-version: 24.x
        cache: 'npm'
        cache-dependency-path: backend/package-lock.json
    - run: npm ci
    - run: npm run format:check
    - run: npx tsc --noEmit
    - run: npm run build --if-present
    - run: npm test
      env:
        PG_HOST: localhost
        PG_PORT: 5432
        PG_USER: admin
        PG_PASSWORD: db_password
        PG_DATABASE: mom_recipes

  frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./frontend

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js 24.x
      uses: actions/setup-node@v5
      with:
        node-version: 24.x
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json
    - run: npm ci
    - run: npm run format:check
    - run: npx tsc --noEmit
    - run: npm run build --if-present
    # - run: npm test # No tests in frontend
